Repository canonical/ubuntu-desktop-provision, pull requests merged in 2025-07, with the labels that each got.

#1115 fix(ci): remove cleanup step
  .github/workflows/ci.yml
Labels: snap/none

#1124 fix(a11y): Add semantic label to timezone map
  packages/ubuntu_provision/lib/src/timezone/timezone_page.dart
Labels: snap/ubuntu-desktop-bootstrap

#1129 chore: update yaru
  apps/factory_reset_tools/pubspec.lock
  apps/factory_reset_tools/pubspec.yaml
  apps/ubuntu_bootstrap/pubspec.lock
  apps/ubuntu_bootstrap/pubspec.yaml
  apps/ubuntu_init/pubspec.lock
  apps/ubuntu_init/pubspec.yaml
  melos.yaml
  packages/ubuntu_provision/pubspec.yaml
  packages/ubuntu_provision_test/pubspec.yaml
  packages/ubuntu_utils/pubspec.yaml
  packages/ubuntu_wizard/pubspec.yaml
  pubspec.lock
Labels: snap/ubuntu-desktop-bootstrap, snap/ubuntu-desktop-init, snap/factory-reset-tools
