Repository canonical/ubuntu-desktop-provision, pull requests merged in 2025-09, with the labels that each got.

#1171 ci: Use go/code-sanity@v1
  .github/workflows/ci.yml
Labels: snap/none

#1168 feat: updating mascot
  apps/ubuntu_bootstrap/assets/slides/1/mascot.svg
  apps/ubuntu_bootstrap/lib/pages/refresh/refresh_widgets.dart
  packages/ubuntu_provision/assets/images/mascot.svg
  packages/ubuntu_provision/assets/images/mascot_no_background.svg
  packages/ubuntu_provision/assets/images/try-or-install.svg
  packages/ubuntu_provision/lib/src/widgets/horizontal_page.dart
  packages/ubuntu_provision/lib/src/widgets/mascot_avatar.dart
Labels: snap/ubuntu-desktop-bootstrap

#1165 fix: Fix input decoration colors
  packages/ubuntu_wizard/lib/src/wizard_theme.dart
Labels: snap/ubuntu-desktop-bootstrap

#1174 fix: useTls should be true by default, not false
  apps/ubuntu_bootstrap/lib/services/environment_variable_service.dart
  apps/ubuntu_bootstrap/test/services/environment_variable_service_test.dart
Labels: snap/ubuntu-desktop-bootstrap

#1176 Update golangci-lint to v2 and migrate its config
  .github/workflows/ci.yml
  provd/.golangci.yaml
  provd/internal/services/gdm/gdm_test.go
  provd/internal/services/keyboard/keyboard_test.go
  provd/internal/services/timezone/timezone_test.go
  provd/internal/services/user/user_test.go
  provd/protos/accessibility.pb.go
  provd/protos/accessibility_grpc.pb.go
  provd/protos/ad.pb.go
  provd/protos/ad_grpc.pb.go
  provd/protos/chown.pb.go
  provd/protos/chown_grpc.pb.go
  provd/protos/eula.pb.go
  provd/protos/eula_grpc.pb.go
  provd/protos/gdm.pb.go
  provd/protos/gdm_grpc.pb.go
  provd/protos/keyboard.pb.go
  provd/protos/keyboard_grpc.pb.go
  provd/protos/locale.pb.go
  provd/protos/locale_grpc.pb.go
  provd/protos/privacy.pb.go
  provd/protos/privacy_grpc.pb.go
  provd/protos/pro.pb.go
  provd/protos/pro_grpc.pb.go
  provd/protos/telemetry.pb.go
  provd/protos/telemetry_grpc.pb.go
  provd/protos/theme.pb.go
  provd/protos/theme_grpc.pb.go
  provd/protos/timezone.pb.go
  provd/protos/timezone_grpc.pb.go
  provd/protos/user.pb.go
  provd/protos/user_grpc.pb.go
  provd/tools/go.mod
  provd/tools/go.sum
  provd/tools/tools.go
Labels: snap/none

#1195 Add workaround for gtk #2599
  apps/factory_reset_tools/linux/my_application.cc
Labels: snap/factory-reset-tools
